@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-principal: #0E4653;
    --azul-claro: #588A96;
}

* {
    font-family: "Barlow Semi Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-principal);
}

/* PÃGINA INICIAL */

.inicio{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.menu_paginas{
    height: 100vh;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px;

    div a{
        text-decoration: none;
        color: white;
    }
}

.box_menu a{
    transition: 0.4s;
}

.box_menu a:hover{
    color: #031d22;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #0e46533d;
    height: 90px;
    position: relative;
}

#imagem_header{
    display: flex;
    margin-left: 115px;
    width: 70px;
    align-items: center;
    gap: 10px;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    margin-right: 80px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 70px;
    align-items: center;
}

nav ul li a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    transition: 0.4s;
}

nav ul li a:hover{
    color: #082E36;
}

#inicio_botao{
    color: #082E36;
}


#imagem_perfil{
    width: 60px;
}

.titulo_principal{
    display: flex;
    flex-direction: column;
    margin: 80px;
    align-items: center;
}

.titulo_principal h1{
    font-size: 130px;
    letter-spacing: -0.04em;
    font-weight: 600;
}

.titulo_principal h2{
    font-size: 175px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 20px;
}

.titulo_principal p{
    font-size: 36px;
    text-align: center;
}

.titulo_principal{
    color: white;
    line-height: 130px;
    text-align: center;
}

hr{
    width: 60%;
}

span{
    font-weight: 600;
}

/* SECTION 1 */

.section_1{
    background-color: var(--cor-principal);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
}

.section_1 span{
    font-weight: 700;
}

.titulo_section_1{
    font-size: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.container_section_1{
    display: flex;
    justify-content: center;
    gap: 120px;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.mySlides {
    display: none;

    img{
        width: 812px;
        height: 408px;
        vertical-align: middle;
    }
}

.text {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    padding-bottom: 20px;
    padding-top: 10px;
    /* bottom: 0.3px; */
    width: 100%;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.336); */
    background: var(--azul-claro);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--azul-claro);
}


/* SECTION 2 */
.section_2{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.section_2 img{
    width: 180px;
    height: 150px;
}

.titulo_section_2{
    font-size: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.containers_section2{
    display: flex;
    flex-direction: column;
    margin: 0 220px;
    gap: 40px;
}

.containers_section2 p{
    font-size: 30px;
    max-width: 620px;
}

.containers_section2 span{
    font-weight: 600;
}

.container1_section2{
    display: flex;
    align-items: center;
    gap: 90px;
}

.container2_section2{
    display: flex;
    flex-direction: row-reverse;    
    align-items: center;
    gap: 70px;
}

/* SECTION 3 */

.section_3{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}

.titulo_section_3 {
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}


.section_3 img{
    background-color: var(--azul-claro);
    width: 50px;
    padding: 15px 15px;
    border-radius: 50px;
}


.containers_section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
}

.container1_e_2 {
    display: flex;
    gap: 220px;
}

.sct3_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.sct3_box p{
    font-size: 30px;
    max-width: 300px;
}

.sct3_box span{
    font-weight: 600;
}

/* SECTION 4 */

.section_4{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 70px;
    color: white;
}

.titulo_section_4{
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}

.container_section_4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 150px;
}

.container_section_4 img{
    width: 400px;
    height: 400px;
}

.paragrafos_sct4{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* SECTION 5 */


.section_5{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 70px;
    color: white;
}

.titulo_section_5{
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}

.container_section_5{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.container_section_5 img{
    width: 400px;
    height: 400px;
}

.paragrafos_sct5{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* SECTION 6 */

.section_6{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 70px;
    color: white;
}

.titulo_section_6{
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}

.container_section_6 img{
    width: 240px;
    height: 240px;
}

.container_section_6{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.paragrafo_sct6{
    font-size: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* SECTION FINAL */

.section_final{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    gap: 70px;
    color: white;
    text-align: center;
}

.titulo_section_final{
    display: flex;
    flex-direction: column;
    font-size: 44px;
    align-items: center;
    gap: 20px;
}

.container_final{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.container_final p{
    font-size: 30px;
    max-width: 700px;
}

.container_final a{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    background-color: var(--azul-claro);
    font-size: 30px;
}

/* FOOTER */

.footer_final{
    background-color: #082E36;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    color: white;
}

footer h4{
    font-size: 40px;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato p{
    font-size: 30px;
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes_sociais{
    display: flex;
    justify-content: space-between;
}

.redes_sociais img{
    width: 40px;
    height: 40px;
}

.redes_sociais a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.footer{
    background-color: white;
    text-align: center;
    height: 25px;
}

@media (max-width: 800px){

    .inicio{
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
    
    #menu{
        margin: 0;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        background-color: #0e46533d;
        height: 90px;
        position: relative;
    }
    
    #imagem_header{
        display: flex;
        margin-left: 0;
        width: 30px;
        align-items: center;
        gap: 10px;
        color: white;
    }

    #imagem_header img{
        width: 50px;
        margin-left: 20px;
    }

    #imagem_header h1{
        display: none;
    }
    
    nav{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    
    nav ul{
        display: flex;
        list-style-type: none;
        gap: 20px;
        align-items: center;
    }
    
    nav ul li a{
        font-size: 20px;
        text-decoration: none;
        color: white;
        transition: 0.4s;
    }
    
    nav ul li a:hover{
        color: #082E36;
    }
    
    
    #inicio_botao{
        color: #082E36;
    }

    
    .titulo_principal{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        color: white;
        line-height: 70px;
        text-align: center;
        margin-top: 150px;
    }
    
    .titulo_principal h1{
        font-size: 70px;
        letter-spacing: -0.04em;
        font-weight: 600;
    }
    
    .titulo_principal h2{
        font-size: 90px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-left: 0;
    }
    
    .titulo_principal p{
        font-size: 25px;
        text-align: center;
        margin-top: -20px;
    }
    
    
    hr{
        width: 60%;
    }
    
    span{
        font-weight: 600;
    }

    .menu_paginas{
        height: 60vh;
        color: white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 20px 20px;
        
    }

    /* SECTION 1 */
    .text {
        font-size: 12px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .prev, .next {
        font-size: 8px;
        padding: 10px;
    }

    .mySlides {
        img{
            width: 312px;
            height: 208px;
        }
    }

    .section_1{
        background-color: var(--cor-principal);
        color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        margin: 0 20px;
    }

    .titulo_section_1{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .section_1 span{
        font-weight: 700;
    }

    .container_section_1{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    /* SECTION 2 */
    .image-container {
        flex-direction: column;

        div>p{
            font-size: 20px;
        }
    }

    .click-image {
        width: 200px;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease;
    }



    .section_2{
        color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        margin: 0 20px;
    }

    .titulo_section_2{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .section_2 img{
        width: 130px;
        height: 130px;
    }

    .containers_section2{
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 40px;
        align-items: center;
    }

    .containers_section2 p{
        font-size: 20px;
        max-width: 620px;
    }

    .containers_section2 span{
        font-weight: 600;
    }

    .container1_section2{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .container2_section2{
        display: flex;
        flex-direction: row-reverse;    
        align-items: center;
        gap: 30px;
    }

    /* SECTION 3 */

    .section_3{
        color: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;

    }

    .titulo_section_3 {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        align-items: center;
        gap: 20px;
    }


    .section_3 img{
        background-color: var(--azul-claro);
        width: 50px;
        padding: 15px 15px;
        border-radius: 50px;
    }


    .containers_section3{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .container1_e_2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .sct3_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    .sct3_box p{
        font-size: 20px;
        max-width: 300px;
    }

    .sct3_box span{
        font-weight: 600;
    }

    /* SECTION 4 */

    .section_4{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        gap: 70px;
        color: white;
        margin: 0 20px;
    }

    .titulo_section_4{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .container_section_4{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .container_section_4 img{
        width: 150px;
        height: 150px;
    }

    .paragrafos_sct4{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    /* SECTION 5 */

    .section_5{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        gap: 30px;
        color: white;
        margin: 0 20px;
    }

    .titulo_section_5{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .container_section_5{
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .container_section_5 img{
        width: 150px;
        height: 150px;
    }

    .paragrafos_sct5{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    /* SECTION 6 */

    .section_6{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        gap: 30px;
        color: white;
        margin: 0 20px;
    }

    .titulo_section_6{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        align-items: center;
        gap: 30px;
    }

    .container_section_6 img{
        width: 150px;
        height: 150px;
    }

    .container_section_6{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .paragrafo_sct6{
        font-size: 20px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* SECTION FINAL */

    .section_final{
        display: flex;
        flex-direction: column;
        height: 70vh;
        justify-content: center;
        gap: 10px;
        color: white;
        text-align: center;
        margin: 0 20px;
    }

    .titulo_section_final{
        display: flex;
        flex-direction: column;
        font-size: 30px;
        align-items: center;
        gap: 20px;
    }

    .container_final{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .container_final p{
        font-size: 20px;
        max-width: 700px;
    }

    .container_final a{
        text-decoration: none;
        color: white;
        padding: 10px 10px;
        background-color: var(--azul-claro);
        font-size: 30px;
    }

    /* FOOTER */

    footer{
        height: 74vh;
    }

    .footer_final{
        background-color: #082E36;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        padding: 0 20px;
    }

    footer h4{
        font-size: 20px;
    }

    .contato{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .contato p{
        font-size: 13px;
    }

    .redes{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .redes_sociais{
        display: flex;
        justify-content: space-between;
    }

    .redes_sociais img{
        width: 20px;
        height: 20px;
    }

    .redes_sociais a{
        text-decoration: none;
        color: white;
        font-size: 13px;
    }

    .footer{
        background-color: white;
        text-align: center;
        height: 25px;
    }
}